<ion-header>
  <ion-navbar>
    <ion-title >
      Database VeggieScan
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="scan">
    <h3>Please scan your new product </h3>
    <button class="btn" ion-button full (click)="scan()">Scan Here!</button>
  </div>
  <!-- <ion-row>
  <ion-col col-9>
    <ion-item>
      <ion-input type="text" [(ngModel)]="newProduct" placeholder="New ProductList"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col col-1>
    <button ion-button (click)="addProduct()">Add!</button>
  </ion-col>
  </ion-row>

  <ion-list>
    <ion-item-sliding *ngFor="let product of Product | async">
      <ion-item>
        {{ product.$value }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" ion-only (click)="removeProduct(product.$key)"></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>
